
/* Header component */
.header{
    margin: 2em;
    width: 50em;
    height: 30em;
    border-radius: 3em;
    background-color: rgb(215, 242, 250);
    background: transparent(0.9);
}

.header-items{
    margin: 4em 2em;
}
.logo{
    margin: 1em 2em ;
}
h1 {
    font-size: 3em;
}
h1, p{
    font-family: 'Roboto';
    
}