
/* Header component */
.header{
    margin: 50px;
    border: 1px solid red;
    width: 50em;
    height: 30em;
    border-radius: 3em;
    background-color: lightblue;
}

.header-items{
    margin: 2em;
}
.logo{
    margin: 1em 2em ;
}