
/* Header component */
.header{
    margin: 50px;
    width: 50em;
    height: 30em;
    border-radius: 3em;
    background-color: rgb(215, 242, 250);
    background: transparent(0.9);
}

.header-items{
    margin: 2em;
}
.logo{
    margin: 1em 2em ;
}