body{
    
}
/* Header component */
.header{
    margin: -2.7em 2em;
    width: 50em;
    height: 35em;
    border-radius: 3em;
    background-color: rgb(215, 242, 250);
    background: transparent(0.9);
}

.header-items{
    margin: 2.5em 4em;
}
.logo{
    margin: 4em 4em ;
}
h1 {
    font-size: 3em;
}
h1, p{
    font-family: 'Roboto';
    
}